* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
	height: 50px;
	width: 50px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 3vw;
	background:radial-gradient(rgb(1, 30, 161) 50%, rgb(2, 17, 97));
	border: 5px solid rgb(0, 138, 230);
}
.message {
	position: absolute;
	z-index: 10;
	color: rgb(247, 8, 8);
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	background: rgb(3, 3, 39);
	padding: 30px;
	box-shadow: rgb(2, 40, 54) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: rgb(250, 29, 0);
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(214, 7, 7);
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: rgb(13, 233, 178);
	font-weight: bold;
}
@media only screen and (max-width: 1360px) {
    .message{
		font-size: 100px;
		top: 100%;
		white-space: nowrap;
	}
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}
